* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: black;
}

#contenedor {
    text-align: center;
}

#boton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#boton:hover {
    background-color: #0056b3;
}

#videoContainer {
    margin-top: 20px;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
